# Perform the following analysis on the provided file "demo.csv".


## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str
   
   
## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float
   
   
## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str
   
   
## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str
   
   
## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float
   
   
## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int
   
   
## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int
   
   
## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [ ]:
import pandas as pd

In [ ]:
data= pd.read_csv('/content/demo.csv')
print(data)

     Emp ID Name Prefix First Name Middle Initial  Last Name Gender  \
0    850297         Ms.     Shawna              W       Buck      F
1    304721         Mr.  Nathaniel              Z      Burke      M
2    412317        Drs.  Elisabeth              W     Foster      F
3    621375        Mrs.     Briana              C  Lancaster      F
4    787549        Hon.    Estella              L     Potter      F
..      ...         ...        ...            ...        ...    ...
995  568435         Ms.     Bonnie              K      Baker      F
996  597409         Mr.       Luke              S     Turner      M
997  359608        Hon.        Eva              S     Holman      F
998  803426        Mrs.    Maritza              H  Christian      F
999  669618        Drs.    Phyllis              H     Dudley      F

                              E Mail      Father's Name        Mother's Name  \
0              shawna.buck@gmail.com       Rosario Buck          Keisha Buck
1        nathaniel.burke@walmart.com      Derrick Burke         Phoebe Burke
2         elisabeth.foster@gmail.com       Irwin Foster         Janie Foster
3         briana.lancaster@yahoo.com  Jeffrey Lancaster     Shelby Lancaster
4           estella.potter@gmail.com      Booker Potter       Katelyn Potter
..                               ...                ...                  ...
995              bonnie.baker@bp.com      Edwardo Baker        Pauline Baker
996          luke.turner@charter.net      Javier Turner        Nicole Turner
997           eva.holman@hotmail.com         Coy Holman         Haley Holman
998  maritza.christian@microsoft.com     Dion Christian  Stephanie Christian
999       phyllis.dudley@yahoo.co.in      Jarrod Dudley       Latisha Dudley

    Mother's Maiden Name  ...          SSN    Phone No.   Place Name  \
0              Hendricks  ...  222-11-7603  702-771-7149   Las Vegas
1                   Pugh  ...  550-99-9897  231-765-6923       Irons
2                Delaney  ...  215-91-0004  270-749-4774   Lexington
3                  Weiss  ...  534-71-1053  219-623-8216     Munster
4                   Pate  ...  644-29-6396  907-677-8486   Fairbanks
..                   ...  ...          ...           ...         ...
995             Robinson  ...  064-02-6162  262-696-9171   Mukwonago
996                Sykes  ...  056-02-8240  231-629-0498    Freeport
997                Boyle  ...  343-11-1935  209-912-6705     Turlock
998               Mooney  ...  336-11-5030  203-224-9056    Stamford
999               Wilcox  ...  101-02-6501  405-970-2341        Meno

                   County       City State    Zip     Region    User Name  \
0                   Clark  Las Vegas    NV  89128       West       swbuck
1                    Lake      Irons    MI  49644    Midwest      nzburke
2                 Fayette  Lexington    KY  40501      South     ewfoster
3                    Lake    Munster    IN  46321    Midwest  bclancaster
4    Fairbanks North Star  Fairbanks    AK  99709       West     elpotter
..                    ...        ...   ...    ...        ...          ...
995              Waukesha  Mukwonago    WI  53149    Midwest      bkbaker
996                 Barry   Freeport    MI  49325    Midwest     lsturner
997            Stanislaus    Turlock    CA  95381       West     esholman
998             Fairfield   Stamford    CT   6910  Northeast  mhchristian
999                 Major       Meno    OK  73760      South     phdudley

            Password
0    ja8?k3BTF^]o@<&
1     tPA@4Wh9Ja$+Ln
2    5D.B4IGNkWJfG<~
3          I%?JDM;pW
4        j4jkEXfC&Rh
..               ...
995   a?Co:/r;nu_wTQ
996       7n5@64VC7|
997    DG<<<e}*WgD<U
998         Krs@#TnM
999     h6wt@400%&Uu

[1000 rows x 37 columns]

## 1. Which month saw the highest joining of the employees

   function name: max_joinings_month()
   
   inputs: DataFrame

   outputs: str

In [ ]:
def max_joinings_month(data):

    joining = data.groupby("Month of Joining").count().reset_index()

    result = joining.sort_values(by="First Name", ascending=False)

    max_month_number = result["Month of Joining"].iloc[0]

    max_month_name = calendar.month_name[max_month_number]

    return max_month_name


print("Month of Joining:", max_joinings_month(data))

Month of Joining: April

## 2. What is the mean salary is the state KS

   function name: mean_ks_salary()
   
   inputs: DataFrame

   outputs: float

In [ ]:
def mean_ks_salary(data):
    #
    ks_data = data[data['State'] == 'KS']
    mean_salary_ks = ks_data['Salary'].mean()

    return mean_salary_ks

average_salary_ks = mean_ks_salary(data)
print("Mean Salary in the state KS:", average_salary_ks)

Mean Salary in the state KS: 104225.45454545454

## 3. Which Region has highest mean salary

   function name: max_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [ ]:
def max_mean_salary_region(data):
    region_mean_salary = data.groupby('Region')['Salary'].mean()

    # Find the region with the highest mean salary
    max_mean_salary_region = region_mean_salary.idxmax()

    return max_mean_salary_region
highest_mean_salary_region = max_mean_salary_region(data)
print("Region with the highest mean salary:", highest_mean_salary_region)

Region with the highest mean salary: Midwest

## 4. Which region has lowest mean salary

   function name: min_mean_salary_region()

   inputs: DataFrame

   outputs: str

In [ ]:
def min_mean_salary_region(data):
    region_mean_salary = data.groupby('Region')['Salary'].mean()

    # Find the region with the lowest mean salary
    min_mean_salary_region = region_mean_salary.idxmin()

    return min_mean_salary_region
lowest_mean_salary_region = min_mean_salary_region(data)
print("Region with the lowest mean salary:", lowest_mean_salary_region)

Region with the lowest mean salary: West

## 5. Which City has highest mean weight

   function name: max_mean_weight_city()

   inputs: DataFrame

   outputs: str

In [ ]:
def max_mean_weight_city(data):
    City_mean_weight = data.groupby('City')['Weight in Kgs.'].mean()
    max_mean_weight_city = City_mean_weight.idxmax()

    return max_mean_weight_city
highest_mean_weight_city = max_mean_weight_city(data)
print("City with the highest mean weight:", highest_mean_weight_city)

City with the highest mean weight: Conroe

In [ ]:
data.columns

Index(['Emp ID', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name',
       'Gender', 'E Mail', 'Father's Name', 'Mother's Name',
       'Mother's Maiden Name', 'Date of Birth', 'Time of Birth', 'Age in Yrs.',
       'Weight in Kgs.', 'Date of Joining', 'Quarter of Joining',
       'Half of Joining', 'Year of Joining', 'Month of Joining',
       'Month Name of Joining', 'Short Month', 'Day of Joining',
       'DOW of Joining', 'Short DOW', 'Age in Company (Years)', 'Salary',
       'Last % Hike', 'SSN', 'Phone No. ', 'Place Name', 'County', 'City',
       'State', 'Zip', 'Region', 'User Name', 'Password', 'Joining Month'],
      dtype='object')

## 6. What is the difference between mean salary of Doctors and Professors

   function name: dr_prof_mean_salary_diff()

   inputs: DataFrame

   outputs: float

In [ ]:
def dr_prof_mean_salary_diff(data):
    doctors_data = data[data["Name Prefix"].isin(["Dr.", "Drs."])]
    professors_data = data[data["Name Prefix"] == "Prof."]
    mean_doctors = doctors_data["Salary"].mean()
    mean_professors = professors_data["Salary"].mean()
    difference = mean_professors- mean_doctors
    return difference
diff = dr_prof_mean_salary_diff(data)
print("Mean salary:", diff)

Mean salary: 2635.981785063763

## 7. How many female use yahoo

   function name: females_with_yahoo()

   inputs: DataFrame

   outputs: int

In [ ]:
def females_with_yahoo(data):
    female_yahoo = data[(data["Gender"] == "F") & (data["E Mail"].str.strip().str.contains("yahoo"))]
    return len(female_yahoo)
fe = females_with_yahoo(data)
print("Number of females with Yahoo email addresses:",fe)

Number of females with Yahoo email addresses: 69

## 8. How many Doctors use gmail

   function name: doctors_with_gmail()

   inputs: DataFrame

   outputs: int

In [ ]:
def doctors_with_gmail(data):
    female_yahoo = data[(data["Gender"] == "M") & (data["E Mail"].str.strip().str.endswith("@gmail.com"))]
    return len(female_yahoo)
ge = doctors_with_gmail(data)
print("Doctors use gmail:", ge)

Doctors use gmail 156

## 9. What is the password of the youngest male

   function name: youngest_male_password()

   inputs: DataFrame

   outputs: str

In [ ]:
def youngest_male_password(data):
    males_data = data[data["Gender"] == "M"]
    youngest_male_idx = males_data["Age in Yrs."].idxmin()
    password_youngest_male = data.loc[youngest_male_idx, "Password"]
    return password_youngest_male
pas = youngest_male_password(data)
print("Password of youngest male:", pas)

Password of youngest male: xPr\aGPTQ#v